
body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

header {
    float: top;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #66cc99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 98px;
    border-bottom: 2px solid #669999;
}

header nav {
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

header nav a {
    font-size: 28px;

    display: inline-block;
    margin: 0 15px;

    color: #0c3f66;
    background-color: #66cc99;
    text-decoration: none;

    transition: color 150ms linear;
    position: relative;
}

header nav a:hover {
    color: #64150C;
}

.index-doctor-list {
    position: relative;
    top: 100px;
    width: 100%;
}

.appoint-grid {
    position: relative;
    top: 100px;
    width: 100%;
}

.appoint-grid.container {
    display: flex;
}