{% extends 'appoint/layout.html' %}

{% block Title %}{{ title }}{% endblock %}

{% block HeaderTitle%}{{ doctor_name }}{% endblock %}

{% block BodyContent %}
    {% if appoints_list %}
        <div class="container">
            {% for columns in appoints_list %}
                <div class="col">
                    <h4>{{ columns.0.date|date:"l" }}</h4>
                    <p>{{ columns.0.date|date:"d N" }}</p>
                    {% for rows in columns %}
                        <div class="row"><a href="{% url 'appoint_detail' doctor_id rows.id %}">{{ rows.start_time|time:"H:i" }}</a></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>There's none any appointments</h1>
    {% endif %}
{% endblock%}