{% extends 'appoint/layout.html' %}

{% block Title %}{{ customer.pk }}{% endblock %}

{% block HeaderTitle %}
    <a href="{% url 'index' %}">To main</a>
{% endblock %}

{% block BodyContent %}
    <div class="customer_detail">
        <h2>{{ user.first_name }}</h2>
        <h2>{{ user.last_name }}</h2><br>

        {% for appoint in appointment_list %}
            <h3>Appointment: {{ appoint.date|date:"j N Y" }}, {{ appoint.start_time|time:"H:i" }} - {{ appoint.end_time|time:"H:i" }} : {{ appoint.doctor }} ({{ appoint.doctor.specialization }})</h3>
        {% endfor %}

    </div>
{% endblock %}
