{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'appoint/css/appoint.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'appoint/img/doctor_appoint_logo_200x200.png' %}" alt="logo">
        <nav>
            <a href="{% url 'admin:index' %}">Admin panel</a>
        </nav>
    </header>

    {% block BodyContent %}
    {% endblock %}

</body>
</html>