{% extends 'appoint/layout.html' %}

{% block Title %}{{ title }}{% endblock %}

{% block HeaderTitle %}
    <a href="{% url 'doctor_appoints' appoint.doctor.pk %}">Back to appointments</a>
{% endblock %}

{% block BodyContent %}
    <div class="appoint_detail">
        <h3>Appointment at:</h3>
        <p>{{ appoint.date|date:"j N Y" }}<br>
        {{ appoint.start_time|time:"H:i" }} - {{ appoint.end_time|time:"H:i" }}</p>
        <h3>Doctor:</h3>
        <p>{{ appoint.doctor.get_full_name }}</p>

        {% if appoint.has_customer %}
            {% if requester.pk == appoint.customer.pk %}
                <h3>You have been registered to this appointment</h3>
                <p>{{ appoint.customer.get_full_name }}</p>
            {% elif requester.is_moderator or requester.is_doctor %}
                <h3>Customer:</h3>
                <p>{{ appoint.customer.get_full_name }}</p>
            {% else %}
                <h1>Appointment is occupied already</h1>
            {% endif %}
        {% elif not appoint.has_customer %}
            {% if not appoint.is_outdated %}
                {% if requester.is_moderator or requester.is_doctor %}
                    <h3>Appointment is available</h3>
                {% else %}
                    <h3>Customer:</h3>
                    <form method="post">
                        {% csrf_token %}
                        <p>{{ requester.get_full_name }}</p>
                        <button class="btn btn-success" type="submit">Accept</button>
                    </form>
                {% endif %}
            {% else %}
                <h1>Appointment is outdated</h1>
            {% endif %}
        {% endif %}

        <a href="{% url 'doctor_appoints' appoint.doctor.pk %}" class="btn btn-warning" role="button">Choose another time</a>
        <p>{{ error_text }}</p>
    </div>
{% endblock %}
