{% extends 'appoint/layout.html' %}

{% block Title %}{{ doctor.get_full_name }}{% endblock %}

{% block HeaderTitle %}
    <a href="{% url 'index' %}">To main</a>
{% endblock %}

{% block BodyContent %}
    <div class="doctor_detail">
        <h1>{{ doctor.get_full_name }}</h1>
        <h4>{{ doctor.specialization }}</h4>

        <div class="doctor_detail_info">
            {{ doctor.info }}
        </div>

        <div class="doctor_detail_photo">
            {% if photo %}
                <img src="{{ photo.url }}" alt="doctor_photo">
            {% endif %}
        </div>

        {% if user.pk == doctor.pk %}
            <a href="{% url 'doctor_upload_photo' doctor.pk %}" class="btn btn-info" role="button">Upload photo</a>
        {% endif %}
    </div>

    <a href="{% url 'doctor_appoints' doctor.pk %}" class="btn btn-warning" role="button">Show appointments</a>
{% endblock %}
